<h1>Welcome to XchangeU</h1>

<nav class="round login">
	<%= form_for(:session, :url => sessions_path) do |f| %>
	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
	  </div>
	  <div class="field">
	    <%= f.label :password %><br />
	    <%= f.password_field :password %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Sign in" %>
	  </div>
	<% end %>
</nav>
</header>

<section class="round">
<div class="middle">
  Xchange-U, the POWER of PEER exchange!
  Ever wonder how to set up study groups with your reticent peers?
  Ever want to meet someone doing something interesting?
  Ever want to couchsurf with people you know are attending college with you?
  Then REGISTER to Xchange-U!
</div>
<br><br>
<center>
    <%= link_to "Register now!", register_path, :class => "register_button round" %>
</center>
</section>


